[submodule "test_lib/bats-core"]
	path = test_lib/bats-core
	url = git@github.com:bats-core/bats-core.git
	branch = tags/v1.9.0
[submodule "test_lib/bats-support"]
	path = test_lib/bats-support
	url = git@github.com:bats-core/bats-support.git
	branch = tags/v0.3.0
[submodule "test_lib/bats-assert"]
	path = test_lib/bats-assert
	url = git@github.com:bats-core/bats-assert.git
	branch = tags/v2.1.0
[submodule "test_lib/bats-file"]
	path = test_lib/bats-file
	url = git@github.com:bats-core/bats-file.git
	branch = tags/v0.4.0
